<section class="index_selected classify">
	<div class="index_header">
		<p class="index_header_word">精选专题<i class="commend_icon">热</i></p>							
	</div>
	<div class="index_content">
		<ul class="selected_book_content">
			<li class="selected_book_list">
				<a href="">
					<div class="selected_cover">
						<img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg" />
					</div>
				</a>
			</li>
			<li class="selected_book_list">
				<a href="">
					<div class="selected_cover">
						<img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg" />
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="more_information more_free_information">
			<a href="">
				<div class="female_chanele">更多精彩专题  >></div>
			</a>
	</div>
</section>